<h2>Add Product</h2>

@using (Html.BeginForm("Save", "Product"))
{
    <div>
        <input name="Name" type="text" placeholder="Enter a product name" />
    </div>
    <div>
        <input name="Description" type="text" placeholder="Enter a description" />
    </div>
    <div>
        <button type="submit" class="btn">Save</button>
    </div>
}